{% extends './admin_base.html' %}
{% load staticfiles %}

        <!-- Styles -->
{% block css %}
    <link href="{% static "css/lib/weather-icons.css" %}" rel="stylesheet" />
    <link href="{% static "css/lib/owl.carousel.min.css"  %}" rel="stylesheet" />
    <link href="{% static "css/lib/owl.theme.default.min.css" %}" rel="stylesheet" />
    <style type="text/css">
    	.shelter_latitude, .shelter_longitude{
    		display: none;
    	}
    	#map {
		  height: 200px;
		}
    </style>
{% endblock %}

{% block content %}
        <div class="main">
            <div class="container-fluid">
                <section id="main-content">
                    <div class="row">
                    	<div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h3>Shelter Registration</h3>
                                    <hr/>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form method="post">
                                        	{% csrf_token %}
                                        	{% for field in form %}
                                            <div class="form-group {{ field.name }}">
                                                <label>{{ field.label }}</label>
                                                {{ field }}
                                            </div>
                                            {% endfor %}
                                            <label>Add your location</label>
                                            <div id="map"></div>
                                            <button type="submit" class="btn btn-default">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
{% endblock %}

{% block js %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0I2OGOk7IFYVE3NwUhjtjqfcweDJFWJo&callback=initMap"
    async defer></script>
    <script src="{% static "js/lib/circle-progress/circle-progress.min.js" %}"></script>
    <script src="{% static "js/lib/circle-progress/circle-progress-init.js" %}"></script>

    <!--  flot-chart js -->
    <script src="{% static "js/lib/flot-chart/jquery.flot.js" %}"></script>
    <script src="{% static "js/lib/flot-chart/jquery.flot.resize.js" %}"></script>
    <script src="{% static "js/lib/flot-chart/flot-chart-init.js" %}"></script>
    <!-- // flot-chart js -->

    <script src="{% static "js/lib/weather/jquery.simpleWeather.min.js" %}"></script>
    <script src="{% static "js/lib/weather/weather-init.js" %}"></script>
    <script src="{% static "js/lib/owl-carousel/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/lib/owl-carousel/owl.carousel-init.js" %}"></script>
    <script src="{% static "js/scripts.js" %}"></script>
    <script type="text/javascript">
    document.getElementById('id_shelter_latitude').value = 0;
    document.getElementById('id_shelter_longitude').value = 1;

    console.log(document.getElementById('id_shelter_longitude').value);

    	function initMap() {
			var marker;
			var position;
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 8,
				center: {  lat: 11,
          lng: 92.6586}
			});

			map.addListener('click', function(e) {
				marker = placeMarkerAndPanTo(e.latLng, map, marker);
        if(marker.getPosition().lat() < 12 && marker.getPosition().lat() > 6){
				document.getElementById('id_shelter_latitude').value = marker.getPosition().lat();
      }
        else{
          alert("Shelter Cannot Be Added at the specified Location");

        }
        if(marker.getPosition().lng() < 94  && marker.getPosition().lng() > 92){
            document.getElementById('id_shelter_longitude').value =marker.getPosition().lng();
          }
        else{

        alert("Shelter Cannot Be Added at the specified Location");

          }
            console.log(document.getElementById('id_shelter_longitude').value);
            console.log(document.getElementById('id_shelter_latitude').value);
			});
		}

		function placeMarkerAndPanTo(latLng, map, marker) {
			if(marker == null){
				marker = new google.maps.Marker({
					position: latLng,
					map: map
				});;
			}
			else{
				marker.setPosition(latLng);
			}
			return marker;
		}
    </script>
    <!-- scripit init-->
{% endblock %}
