{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Smart India Project</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="{% static "css/lib/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/lib/themify-icons.css" %}" rel="stylesheet">
    <link href="{% static "css/lib/menubar/sidebar.css" %}" rel="stylesheet">
    <link href="{% static "css/lib/bootstrap.min.css" %}" rel="stylesheet">
    
    <link href="{% static "css/lib/helper.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    {% block css %}
    {% endblock %}
  </head>

  <body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
      <div class="nano">
        <div class="nano-content">
          <div class="logo"><a href="index.html"><!-- <img src="{% static "/images/logo.png" alt="" /> --><span>DRAP</span></a></div>
          <ul>
            <li><a href="/official-home/{{ shelter.id }}"><i class="ti-home"></i>My Shelter</a></li>
            <li><a class="sidebar-sub-toggle"><i class="ti-home"></i>  Allocation Of resources  <span class="sidebar-collapse-icon ti-angle-down"></span></a>
              <ul>
                  <li><a href="/allocate-at-shelter/{{ shelter.id }}/food">Food</a></li>
                  <li><a href="/allocate-at-shelter/{{ shelter.id }}/firstaid">First Aid</a></li>
                  <li><a href="/allocate-at-shelter/{{ shelter.id }}/bedding">Bedding</a></li>
                  <li><a href="/allocate-at-shelter/{{ shelter.id }}/water">Water</a></li>
              </ul>
            </li>
            
            </li>
            <li><a href="/official-civilians/{{ shelter.id }}"><i class="ti-user"></i> Civilians </a></li>
            <li><a href='/logout/'><i class="ti-close"></i> Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /# sidebar -->


    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="float-left">
              <div class="hamburger sidebar-toggle">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
              </div>
            </div>
            <div class="float-right">
              <ul>

                <li class="header-icon dib"><i class="ti-bell"></i>
                  <div class="drop-down">
                    <div class="dropdown-content-heading">
                      <span class="text-left">Recent Notifications</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="row">
        <div class="col-lg-12">
            <div class="footer">
                <p>2018 © Admin Board. - <a href="#">example.com</a></p>
            </div>
        </div>
    </div>
    <!-- jquery vendor -->
    <script src="{% static "js/lib/jquery.min.js" %}"></script>
    <script src="{% static "js/lib/jquery.nanoscroller.min.js" %}"></script>
    <!-- nano scroller -->
    <script src="{% static "js/lib/menubar/sidebar.js" %}"></script>
    <script src="{% static "js/lib/preloader/pace.min.js" %}"></script>
    <!-- sidebar -->
    <script src="{% static "js/lib/bootstrap.min.js" %}"></script>
    <!-- bootstrap -->
<!-- 
    <script src="{% static "js/lib/morris-chart/raphael-min.js" %}"></script>
    <script src="{% static "js/lib/morris-chart/morris.js" %}"></script>
    <script src="{% static "js/lib/morris-chart/morris-init.js" %}"></script> -->

   
    <script src="{% static "js/scripts.js" %}"></script>
    <!-- scripit init-->
    {% block js %}
    {% endblock %}
  </body>

</html>
